:root {
    --primary-color: #D3B574;
    --primary-color-hover: #E2C077;
    --paragraph-color-primary: #B1B1B1;
    --background-color: #F8FAFC;
    --dark-background-color: #222831;
    --line-color: #D6D6D6;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

*{
    font-family: var(--primary-font);
}

p{
    color: var(--paragraph-color-primary);
}

h1{
    font-size: 60px;
}

h2{
    font-weight: 600;
    font-size: 48px;
}

h3{
    font-size: 24px;
    font-weight: 600;
}

.btn-primary{
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 40px rgba(211, 181, 116, 0.16);
}

.btn-primary:hover, .btn-primary:focus{
    background-color: var(--primary-color-hover);
}

.navbar{
    padding: 16px 4px 16px 4px;
    font-weight: 500;
}

.navbar-brand{
    font-size: 24px;
}

.nav-link{
    color: black !important;   
}

.nav-link:hover, .nav-link.active{
    color: var(--primary-color) !important;
}

.navbar-nav-end{
    font-size: 24px;
}

.navbar-toggler, .nav-toggler:focus{
    border: none;
    box-shadow: none !important;
}

.section-header {
    padding: 240px 0px 165px 0px;
    background-image: url("../assets/carousel.png");
    background-size: cover;
    background-position: center;
}

.section-header h1, .section-header p {
    color: #ffffff;
}
  
.section-header p {
   font-weight: 300;
}

.section-header .form-control{
    border: none;
}

.section-header .btn-search{
    border-radius: 4px;
}

.section-stats {
    margin-top: -80px;
}

.section-stats .container-stats{
    box-shadow: 5px 5px 40px rgba(171, 171, 171, 0.16);
}

.border-bottom-gold{
    border-bottom: 4px solid var(--primary-color);
}

.section-stats .stats-details-border{
    border-right: 1px solid var(--line-color);
}

.section-stats .stats-details h2 {  
    font-family: var(--secondary-font) !important;
    font-weight: 700;
    font-size: 40px;
}

.section-stats .stats-details p{
    font-family: var(--secondary-font) !important;
    font-weight: 400;
}

@media screen and (max-width:767px) {

    .section-stats .stats-details-border{
        border-right: none;
    }

    .section-stats .stats-details{
        padding-bottom: 24px;
        margin: 36px 24px 0px 24px !important;
    }
}

.section-featured{
    margin-top: -95px;
    padding-top: 200px;
    padding-bottom: 80px;
    background-color: var(--background-color);
}

.section-featured .card{
    border: none;
    border-radius: 12px;
}

.section-featured .card img{
    border-radius: 12px 12px 0px 0px;
}

.section-featured .card .card-category{
    font-size: 14px;
}

.section-featured .card .card-title{
    font-size: 16px;
}

.section-featured .card .card-price{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
}

.section-why {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-why img{
    border-radius: 12px;
}

.section-why hr{
    height: 4px;
    background-color: var(--primary-color);
    opacity: 1;
    width: 20%;
}

.section-why .accordion .accordion-item {
    box-shadow: 5px 5px 40px rgba(171, 171, 171, 0.16);
    border-radius: 6px;
    border: none;
}

.section-why .accordion .accordion-button{
    border-radius: 6px;
}

.section-why .accordion .accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--primary-color);
    border-radius: 6px;
}

.section-why .accordion-button::after{
    background-image: url('../assets/arrow.svg');
}

.section-why .accordion-button:not(.collapsed)::after {
    background-image: url('../assets/arrow-white-rotate.svg');
    transform: rotate(0deg);
}

.section-newsletter {
    padding: 120px 0px 120px 0px;
    background-image: url("../assets/newsletter.png");
    background-size: cover;
    background-position: center;
}

.section-newsletter h2, .section-newsletter p {
    color: white;
}

.section-newsletter p {
   font-weight: 300;
}

.section-newsletter .form-control{
    border: none;
}

.section-newsletter .btn-subscribe{
    border-radius: 4px;
}

.section-footer {
    background-color: var(--dark-background-color);
    padding-top: 100px;
    padding-bottom: 40px;
  }
  
.section-footer .footer-logo, .section-footer .footer-title {
    color: white;
}

.section-footer .footer-link {
    color: var(--paragraph-color-primary);
    text-decoration: none;
}

.section-footer .footer-link:hover {
    text-decoration: none;
    margin-left: 12px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.section-footer .social-media-icon {
    padding: 6px;
    font-size: 24px;
    width: 38px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    background: var(--primary-color);
    color: white;
}

.section-footer hr{
    height: 4px;
    background-color: var(--primary-color);
    opacity: 1;
    width: 30%;
}

.section-footer-1 {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--dark-background-color);
}